<div class="cenhor">
  <app-scoreblock name="1s"></app-scoreblock>
  <app-scoreblock name="2s"></app-scoreblock>
  <app-scoreblock name="3s"></app-scoreblock>
  <app-scoreblock name="4s"></app-scoreblock>
  <app-scoreblock name="5s"></app-scoreblock>
  <app-scoreblock name="6s"></app-scoreblock>
  <app-scoreblock name="Small Straight"></app-scoreblock>
  <app-scoreblock name="Large Straight"></app-scoreblock>
  <app-scoreblock name="3 of a Kind"></app-scoreblock>
  <app-scoreblock name="4 of a Kind"></app-scoreblock>
  <app-scoreblock name="Full House"></app-scoreblock>
  <app-scoreblock name="Chance"></app-scoreblock>
  <app-scoreblock name="Yahtzee"></app-scoreblock>
</div>
<div class="cenhor">

</div>
