<div class="center">

<img class="round" *ngIf="!held" src={{diePic}}> <!-- correct die will show up based on held status-->
<img class="round" *ngIf="held" src={{diePic2}}> <!-- correct die will show up based on held status-->

<app-button *ngIf="!(held)&&((countRolls!=0)&&(countRolls<3))" text="Hold Die" (onClick)="changeHold()"  ></app-button><!-- correct button will show up based on held status-->
<app-button *ngIf="held&&((countRolls!=0)&&(countRolls<3))" text="Release Die" (onClick)="changeHold()"  ></app-button><!-- correct button will show up based on held status-->

</div>
