/* You can add global styles to this file, and also import other style files */
h1.center {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 40pt;
  font-family: -webkit-pictograph;
}
div.center.heading{
  font-size: 16pt;
  background-color: darkorange;
  display: flex;
  justify-content: center;
  font-family: -webkit-pictograph;

}

div.center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
  }


div.diceBox{
  display: flex;
  justify-content: space-between;

}
div.spacer25{
  height: 25px;
}

div.spacer5{
  height: 5px;
}

img.round{
  border-radius: 20px;
}



