/* You can add global styles to this file, and also import other style files */
h1.center {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 40pt;
  font-family: -webkit-pictograph;
}
div.heading{
  font-size: 16pt;
  background-color: #ffdb01;
  display: flex;
  justify-content: center;
  font-family: -webkit-pictograph;
  max-height: 75px;

}

div.center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
  }
  div.centerC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
  }

  div.leftSide{
    display: flex;
    align-items: flex-start;
    flex-flow: column;
  }

  div.rightSide{
    display: flex;
    align-items: flex-end;
    flex-flow: column;
  }

div.centerF80p{
  display: flex;
  justify-content: space-between;
  width:80%;
}


div.spacer25{
  height: 25px;
}

div.spacer5{
  height: 5px;
}

img.round{
  border-radius: 20px;
}


/* CSS */
.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: inherit;
  min-width: 0;
  outline: none;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: inherit;
  background-color: darkgray;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

div.perSpace25{
  width: 25%
}
div.perSpace10{
  width: 10%
}

div.space45H{
  height: 45px;
  font-weight: bold;
}

div.across{
  display: flex;
  flex-flow: row;
}

div.hundoP{
  width:100%;
  display: flex;
  flex-flow: row;
}
div.sides{
  width: 10%;
  background-color: #d1232a;
}

body{
  background-color: lightgray;
}
